<div class="form-wrapper">
  <form>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" class="form-control" id="email"
             required
             placeholder="Email"
             name="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nume</mat-label>
      <input matInput type="text" class="form-control" id="name"
             required
             placeholder="Nume"
             name="name">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Prenume</mat-label>
      <input matInput type="text" class="form-control" id="surname"
             required
             placeholder="Prenume"
             name="surname">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>LinkedIn</mat-label>
      <input matInput type="text" class="form-control" id="linkedin"
             placeholder="LinkedIn"
             name="linkedin">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Telefon</mat-label>
      <input matInput type="number" class="form-control" id="phone"
             placeholder="Telefon"
             name="phone">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Scoala/Facultate</mat-label>
      <input matInput type="text" class="form-control" id="school"
             placeholder="Scoala/Facultate"
             name="school">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Adresa</mat-label>
      <textarea matInput type="text" class="form-control" id="address"
             placeholder="Adresa"
             name="address">
      </textarea>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Despre mine</mat-label>
      <textarea matInput type="text" class="form-control" id="aboutme"
             placeholder="Despre mine"
             name="aboutme">
      </textarea>
    </mat-form-field>
  </form>
</div>
